<form method="POST">
    <strong>Personal Information </strong>
    <p>
        ID: <var>{{id}}</var> <br>
        Name: <var>{{name}}</var>  <br>
        GPA:  <var>{{gpa}}</var>  <br>

    </p>
    <br><br><br>

    <strong>Kindly type in the number representing what action You need to Perform</strong>
    <br>
    <p>1.View Reviews<br>2.Post Reviews<br>3.View Course Information<br>4.View Available Courses<br>5.Open Degree Works<br></p>
    Your Choice Number<input type="text" name="choice"/>
    <br>
     <input type="submit"/>

    </form>



