<table border="1">
    <tr>
        <td>"StudentID"</td>
        <td>"deptCode"</td>
        <td>"CourseNUm"</td>
        <td>"Rating"</td>
        <td>"Textual Review"</td>
        <td>"Verified"</td>
        <td>"review_date"</td>
    </tr>
    {% for review in reviewdetails %}
    <tr>
        <td>{{review[0]}}</td>
        <td>{{review[1]}}</td>
        <td>{{review[2]}}</td>
        <td>{{review[3]}}</td>
        <td>{{review[4]}}</td>
        <td>{{review[5]}}</td>
        <td>{{review[6]}}</td>

    </tr>
    {% endfor %}

</table>